<div class="container">

    @{
        ViewData["Title"] = "Contact";
    }
    <h2>General contact</h2>


    <div class="row">
        <div class="col-md-6">
            <h3>Hours of Operation</h3>
            <strong>Monday</strong> 10am to 7pm <br />
            <strong>Tuesday</strong> 10am to 7pm <br />
            <strong>Wednesday</strong> 10am to 7pm <br />
            <strong>Thursday</strong> 10am to 7pm <br />
            <strong>Friday</strong> 10am to 7pm <br />
            <strong>Saturday</strong> 12pm to 4pm <br />
            <strong>Sunday</strong> 12pm to 4pm <br />

        </div>

        <div class="col-md-6">
            <h3>Mailing Address</h3>
            <address>
                116 Greenock Street, <br />
                Moncton, NB <br />
                E1H 2J7 <br />

                <abbr title="Phone">P:</abbr>
                (506) 857-8698
            </address>
        </div>

    </div>
    <h3>Email Address</h3>

    <address>
        <strong>General Inquiries:</strong> <a href="mailto:info@monctonspca.ca">info@monctonspca.ca</a><br />
        <strong>Executive Director:</strong> Dave Rogers - <a href="dave@monctonscpa.ca">dave@monctonscpa.ca</a><br />
        <strong>Director of Animal Welfare:</strong> Nanette Pearl - <a href="mailto:nanette@monctonspca.ca">nanette@monctonspca.ca</a><br />
    </address>

    <h2>Emergency Contact</h2>
    <div class="row">
        <div class="col-md-6">
            <h3>In case of emergency</h3>
            <p>
                After-hours emergency direct line is (506) 961-0991.<br />
                An emergency is considered to be an injured domestic animal (still alive) within the limits of the City of Moncton.
                Otherwise, please contact the appropriate animal control officer in your location.
            </p>


        </div>
        <div class="col-md-6">
            <h3>Cruelty</h3>
            <p>
                New Brunswick SPCA: 1-877-722-1522
            </p>
        </div>

        <div class="col-md-6">
            <h3>Disease hotline</h3>
            <p>
                Rabies: 1-877-372-2437
            </p>
        </div>

        <div class="col-md-6">
            <h3>Animal Control Officers</h3>
            <p>
                Domestic strays and nuisance: please see our Animal Control page for the list of contact numbers<br />
                Nuisance wildlife: (506) 872-3170
            </p>
        </div>

        <div class="col-md-6">
            <h3>Other Emergency contacts</h3>
            <p>
                Atlantic Wildlife Institute: (506) 364-1902 <br />
                Department of Natural Resources: (506) 856-2344<br />
                Canadian Wildlife Service: (506) 364-5044<br />
            </p>
        </div>

    </div>
</div>
