@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/SPCAImages/budgie.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>We care for Greater Moncton Animals.</p>
            </div>
        </div>
        <div class="item">
            <img src="~/SPCAImages/bunny.png" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    We promote animal care and prevent animal cruelty through sheltering, placement and education.
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/SPCAImages/dog.png" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Each year, we provide a safe haven for over 3,500 animals that have been lost, abandoned,
                    neglected and/or abused. 
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/SPCAImages/kitten.png" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Open to the public 7 days a week.
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h2>Adoptable Dogs</h2>
            <p>Click to view our adoptable dogs.</p>
        </div>
        <div class="col-md-4">
            <h2>Adoptable Cats</h2>
            <p>Click to view our adoptable cats.</p>
        </div>
        <div class="col-md-4">
            <h2>Adoptable Others</h2>
            <p>Click to view our adoptable rabbits, rats, reptiles, and more!.</p>
        </div>
        @*<div class="col-md-3">
                <h2>Run &amp; Deploy</h2>
                <ul>
                    <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
                    <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
                    <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
                </ul>
            </div>*@
    </div>
</div>
