@model NewSPCA.Models.Species
<div class="container marginBottom">
    @{
        ViewData["Title"] = "Delete";
    }

    <h2>Delete</h2>

    <div>
        <h3>Species</h3>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Species_Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Species_Name)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="SpeciesID" />
            <input type="submit" value="Delete" class="btn btn-success" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
    </div>